@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  padding-right: 120px;
  padding-left: 120px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.services {
  background: #f7fafc;
  padding: 85px 0;
}
.servicesTitle {
  color: #000000;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 35px;
  line-height: 150%;
  font-family: "Montserrat";
}
.servicesDescr {
  font-size: 19px;
  line-height: 150%;
  font-family: "Montserrat";
}
.servicesList {
  display: flex;
  flex-wrap: wrap;
  --offsets: 3;
  gap: var(--gap);
}

.servicesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  padding: 62px 30px;
  border: 1px solid #e4e4e4;
}
.servicesItem:hover {
  background: #3172b9;
}
.servicesItem:hover .link__services-title {
  color: #ffffff;
}
.servicesItem:hover .link__services-desc {
  color: #ffffff;
}
.servicesItem:hover .link__services-ico {
  fill: #ffffff;
}
.linkServices-ico {
  fill: #3172b9;
  margin-bottom: 27px;
}
.link__services-title {
  color: #1c1c1c;
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  margin-bottom: 15px;
}
.services__link *:last-child {
  margin-bottom: 0;
}

@media (min-width: 1367px) and (max-width: 1740px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    padding-right: 110px;
    padding-left: 110px;
  }
}

@media (min-width: 993px) and (max-width: 1366px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    padding-right: 60px;
    padding-left: 60px;
  }
}
